@page "/estudiantes/nueva"
@page "/estudiantes/editar/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigator;
@inject IRepositorioEstudiantes _repositorio;
<h2>@_mensaje Estudiante</h2>
<EditForm Model="_estudiante" FormName="frmEstudiante" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="row mb-3">
        <label for="txtNombre" class="col-2 col-form-label">Nombre</label>
        <div class="col-10">
            <InputText id="txtNombre" class="form-control" @bind-Value="_estudiante.Nombre" />
            <ValidationMessage For="()=>_estudiante.Nombre" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtCorreo" class="col-2 col-form-label">Correo</label>
        <div class="col-10">
            <InputText id="txtCorreo" class="form-control" @bind-Value="_estudiante.Correo" />
            <ValidationMessage For="()=>_estudiante.Correo" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtTelefono" class="col-2 col-form-label">Teléfono</label>
        <div class="col-10">
            <InputText id="txtTelefono" class="form-control" @bind-Value="_estudiante.Telefono" />
            <ValidationMessage For="()=>_estudiante.Telefono" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-danger ms-3" @onclick="Cancelar" @onclick:preventDefault>Cancelar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private string _mensaje = "";
    private Estudiante? _estudiante = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            _estudiante = await _repositorio.GetById(Id);
            _mensaje = "Modificar";
        }
        else
        {
            _mensaje = "Nuevo";
        }
    }

    private async void Guardar()
    {
        if (Id > 0)
        {
            await _repositorio.Update(_estudiante!);
        }
        else
        {
            _estudiante!.Fecha = DateTime.Now; 
            await _repositorio.Add(_estudiante!);
        }
        Cancelar();
    }

    private void Cancelar()
    {
        _navigator.NavigateTo("/estudiantes");
    }
}