@page "/idiomas/nueva"
@page "/idiomas/editar/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigator;
@inject IRepositorioIdiomas _repositorio;
<h2>@_mensaje Idioma</h2>
<EditForm Model="_idioma" FormName="frmIdioma" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="row mb-3">
        <label for="txtNombre" class="col-2 col-form-label">Nombre</label>
        <div class="col-10">
            <InputText id="txtNombre" class="form-control" @bind-Value="_idioma.Nombre" />
            <ValidationMessage For="()=>_idioma.Nombre" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-danger ms-3" @onclick="Cancelar" @onclick:preventDefault>Cancelar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private string _mensaje = "";
    private Idioma? _idioma = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            _idioma = await _repositorio.GetById(Id);
            _mensaje = "Modificar";
        }
        else
        {
            _mensaje = "Nuevo";
        }
    }

    private async void Guardar()
    {
        if (Id > 0)
        {
            await _repositorio.Update(_idioma!);
        }
        else
        {
            await _repositorio.Add(_idioma!);
        }
        Cancelar();
    }

    private void Cancelar()
    {
        _navigator.NavigateTo("/idiomas");
    }
}